{% extends 'base.html.twig' %}

{% block body %}
    <div id="registro" class="col-lg-4 box-form">
        <h2>¡Registrate!</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Register">
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}